* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  text-align: center;
  background-color: #131c27;
  color: white;
}
nav h1 {
  padding: 1rem 4rem;
}

h2 {
  padding: 1rem;
}

.container {
  margin: 20px;
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 85vh;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.chart-container {
  width: 80%;
  height: 100%;
}
